<app-header></app-header>

<hr />
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="container"><app-trnxn></app-trnxn></div>
  </div>
  <div class="col-md-2"></div>
</div>
<hr />

<div class="row">
  <div class="col-md-12">
    <div class="container">
      <p class="mat-title section">Channels</p>
      <app-channel></app-channel>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="container">
      <p class="mat-title section">Recent Blocks</p>
      <app-block></app-block>
    </div>
  </div>
  <div class="col-md-4">
    <div class="container">
      <p class="mat-title section">Summary</p>
      <app-headline></app-headline>
    </div>
  </div>
</div>
