<div class="" style="">
    <nav class="navbar navbar-light topBar">
        <a class="navbar-brand" href="#">
            <img src="assets/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Fabric Explorer
        </a>
        <!-- <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Transaction number/hash" size="64"
                aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </nav>
</div>
